[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.5b2"
flake8 = "*"

[packages]
flask = "*"
requests = "*"
oauthlib = "*"
pymysql = "*"
redis = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
cryptography = "*"

[requires]
python_version = "3.9"
