{% extends 'base.html' %}
{% block title %} - Lista av {% if archived %}arkiverade{% endif %} medlemmar{% endblock %}
{% block body %}
<a href="/">
  <button type="button" class="btn btn-primary no-print">Tillbaka</button>
</a>

{% if archived %}
<a href="/list">
  <button type="button" class="btn btn-primary no-print">Visa aktiva medlemmar</button>
</a>
{% else %}
<a href="/archived-list">
  <button type="button" class="btn btn-primary no-print">Visa arkiverade medlemmar</button>
</a>
{% endif %}
<button onclick="window.print();" type="button" class="btn btn-primary no-print">Skriv ut</button>

<p>Utskriftsdatum: {{ time }}</p>
<p>Antal medlemmar i denna lista: {{ amount }}</p>

<div>
  <canvas id="classChart" width="200px" height="200px"></canvas>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Namn</th>
      <th scope="col">Klass</th>
      <th scope="col">E-post</th>
      <th scope="col">Styrelse</th>
      <th scope="col">Discord?</th>
      <th scope="col">Arkiverad</th>
      <th scope="col">Arkiveringsdatum</th>
      <th scope="col">Skapades</th>
      <th scope="col">Modifierades</th>
      <th class="no-print" scope="col">Åtgärd</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      <th scope="row">{{ member.id }}</th>
      <td>{{ member.name }}</td>
      <td>{{ member.school_class }}</td>
      <td>{{ member.email }}</td>
      <td>
        {% if member.admin %}
        Ja
        {% endif %}
        <a href="/admin/{{ member.id }}">
          <button type="button" class="btn btn-primary no-print">
            {% if member.admin %}
            Ta bort adminbehörighet
            {% else %}
            Ge adminbehörighet
            {% endif %}
          </button>
        </a>
      </td>
      <td>
        {% if member.discord %}
        Ja
        {% endif %}

        <a href="/discord/{{ member.id }}">
          <button type="button" class="btn btn-primary no-print">
            {% if member.discord %}
            Ta bort
            {% else %}
            Medlem har fått roll på Discord
            {% endif %}
          </button>
        </a>
      </td>
      <td>Arkiverad? {{ member.archived }}</td>
      <td>{{ member.time_archived }}</td>
      <td>{{ member.time_created }}</td>
      <td>{{ member.time_updated }}</td>
      <td>
        <a href="/archive/{{ member.id }}">
          <button type="button" class="btn btn-primary no-print">
            {% if archived %}
            Avarkivera
            {% else %}
            Arkivera
            {% endif %}
          </button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
var ctx = document.getElementById('classChart').getContext('2d');
var myDoughnutChart = new Chart(ctx, {

			type: 'doughnut',
			data: {
				datasets: [{
					data: [
            {% for i in classChart['data'] %}
              {{ i }},
            {% endfor %}
					],
					label: 'Klassfördelning'
				}],
				labels: [
          {% for label in classChart['labels'] %}
            '{{ label }}',
          {% endfor %}
				]
			},
			options: {
        responsive: true,
        maintainAspectRatio: false,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Klassfördelning av medlemmar'
				},
				animation: {
					animateScale: true,
					animateRotate: true
				}
			}
});
</script>
{% endblock %}
