{% extends 'base.html' %}
{% block title %} - Lista av medlemmar{% endblock %}
{% block body %}
<a href="/">
  <button type="button" class="btn btn-primary">Tillbaka</button>
</a>

{% if archived %}
<a href="/list">
  <button type="button" class="btn btn-primary">Visa aktiva medlemmar</button>
</a>
{% else %}
<a href="/archived-list">
  <button type="button" class="btn btn-primary">Visa arkiverade medlemmar</button>
</a>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Namn</th>
      <th scope="col">Klass</th>
      <th scope="col">E-post</th>
      <th scope="col">Roller</th>
      <th scope="col">Skapades</th>
      <th scope="col">Modifierades</th>
      <th scope="col">Arkiverades</th>
      <th scope="col">Åtgärd</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      <th scope="row">{{ member["id"] }}</th>
      <td>{{ member["name"] }}</td>
      <td>{{ member["school_class"] }}</td>
      <td>{{ member["email"] }}</td>
      <td>
        <ul>
            {% for role in member["roles"] %}
            <li>{{ role }}</li>
            {% endfor %}
        </ul>
      </td>
      <td>{{ member["created"] }}</td>
      <td>{{ member["modified"] }}</td>
      <td>{{ member["archived"] }}</td>
      <td>
        {% if archived %}
        Ingen åtgärd tillgänglig.
        {% else %}
        <a href="/archive/{{ member["id"] }}">
          <button type="button" class="btn btn-primary">Arkivera</button>
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
